* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --accent1: #1e3652;
  --accent2: #a23b72;
  --accent2-strong: #8B3261;
  --light-bg: #e8e9eb;
  --strong-bg: #b8c9dd;
  --title: #1e3652;
  --text: #222326;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1,
h2 {
  color: var(--title);
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  align-self: flex-start;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.6rem;
  color: var(--accent2);
}

p {
  font-size: 1.2rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 1.2rem;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

hr {
  width: 60vw;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: var(--accent2);
}

a.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

a.button:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--accent2);
}

.cta-secondary {
  display: inline-flex;
  background-color: transparent;
  border: 2px solid var(--accent2);
}

.cta-button {
  border-radius: 100px;
  color: var(--light-bg);
  font-size: 1.2rem;
  padding: 0.4rem 2rem;
  cursor: pointer;
}

.cta-secondary .cta-button {
  color: var(--accent2);
  font-size: 1.2rem;
  padding: 0.4rem 2rem;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}